{{setTitle     "模块定制"}}
{{setSubTitle  "只选择所需的模块"}}
{{setActiveNav "customize"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">完整包</h2>
    <p>
        囊括了 Pure 中的所有模块，有两种可选，一个是正常包含响应式特性的，一个是不包含响应式特性的。
    </p>

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Size (gzipped)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Responsive Rollup</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/pure-min.css</td>
                <td>{{fileSize "pure"}}</td>
            </tr>
            <tr>
                <td>Non-Responsive Rollup</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/pure-nr-min.css</td>
                <td>{{fileSize "pure-nr"}}</td>
            </tr>
        </tbody>
    </table>

    <h3>其他 CDN</h3>
    <p>
        Pure 存放于 Yahoo! CDN，以 HTTP 协议提供，可以将任意模块组合成一个单独的请求。下面的清单列出了其他存放 Pure 的CDN网络。
    </p>

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>CDN</th>
                <th>URL</th>
                <th>HTTPS</th>
                <th>Combo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://cdnjs.com/">cdnjs</a></td>
                <td>//cdnjs.cloudflare.com/ajax/libs/pure/{{pure_version}}/pure-min.css</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <b>注意：</b> 如果上述 CDN 没有保持同步 Pure 更新，请联系他们更新至 Pure 的最新版：<b>{{pure_version}}</b>。
    </p>


    <h2 class="content-subhead">独立模块</h2>
    <p>
        你也可以单独使用各个模块。Yahoo! CDN 可以把多个文件请求合并为一个单独的CSS文件，像这样使用（只包含<a href="{{pages.base}}">基础样式</a>，<a href="{{pages.grids}}">栅格</a>和<a href="{{pages.forms}}">表单</a>）：
    </p>

{{#code}}
<link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/{{pure_version}}/base-min.css&pure/{{pure_version}}/grids-min.css&pure/{{pure_version}}/forms-min.css">
{{/code}}

    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Base</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/base-min.css</td>
            </tr>
            <tr>
                <td>Buttons</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/buttons-min.css</td>
            </tr>
            <tr>
                <td>Forms (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/forms-min.css</td>
            </tr>
            <tr>
                <td>Forms (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/forms-nr-min.css</td>
            </tr>
            <tr>
                <td>Grids (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/grids-min.css</td>
            </tr>
            <tr>
                <td>Grids (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/grids-nr-min.css</td>
            </tr>
            <tr>
                <td>Menus (Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/menus-min.css</td>
            </tr>
            <tr>
                <td>Menus (Non-Responsive)</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/menus-nr-min.css</td>
            </tr>
            <tr>
                <td>Tables</td>
                <td>http://yui.yahooapis.com/pure/{{pure_version}}/tables-min.css</td>
            </tr>
        </tbody>
    </table>

    <h2 class="content-subhead">皮肤</h2>
    <p>
        Pure 的最小化风格允许你定制为任何样式，此外还有个 <a href="https://git.corp.yahoo.com/pages/yui/skinbuilder/">YUI Skin Builder</a> 帮助你快速修改 Pure 的皮肤风格，点几下鼠标，Skin Builder 就可以生成所需的 CSS。
    </p>

    <p>
        <a href="http://yui.github.io/skinbuilder/?mode=pure" class="pure-button">进入 Skin Builder</a>
    </p>

    <h2 class="content-subhead">在 GitHub 上贡献代码</h2>
    <p>
        Pure 是一个使用 BSD 协议的开源项目，非常欢迎大家提出任何建议、反馈、推送请求，来<a href="https://github.com/yui/pure">Pure 在 GitHub 上的仓库</a>看看吧！
    </p>

</div>
