{{setTitle     "表单"}}
{{setSubTitle  "HTML表单样式"}}
{{setActiveNav "forms"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">默认表单</h2>
    <p>
        要创建一个行内表单，只需要给任意 {{code "<form>"}} 添加类名 {{code "pure-form"}} 即可。
    </p>

  {{#prefixIds "default"}}
    {{> forms/default}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/default}}
  {{/code}}


    <h2 class="content-subhead" id="stacked-form">堆叠表单</h2>
    <p>
        要创建 input 和 label 各占一行的表单，给任意表单元素添加 {{code "pure-form-stacked"}} 和 {{code "pure-form"}} 两个类名。
    </p>

  {{#prefixIds "stacked"}}
    {{> forms/stacked}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/stacked}}
  {{/code}}


    <h2 class="content-subhead">对齐表单</h2>
    <p>
        要创建一组标签对齐的表单，给任意表单元素添加 {{code "pure-form-aligned"}} 和 {{code "pure-form"}} 类名。这类表单的标签以右对齐方式呈现，在小屏幕上则会变成<a href="#stacked-form">堆叠表单</a>的样式。
    </p>

  {{#prefixIds "aligned"}}
    {{> forms/aligned}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/aligned}}
  {{/code}}

    <h2 class="content-subhead">多列表单（使用了栅格系统）</h2>
    <p>
        要创建多列表单，将表单内容包含进 <a href="{{pages.grids}}">Pure 栅格</a>。下面的例子展示了将堆叠表单放进栅格的效果：
    </p>

  {{#prefixIds "multi"}}
    {{> forms/multi}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/multi}}
  {{/code}}

    <h2 class="content-subhead">输入框分组</h2>
    <p>
        将文本输入框包含进一个有 {{code "pure-group"}} 类名的 {{code "<fieldset>"}} 元素即可将其分组。分组输入框常用于注册表单，在移动设备上也更接近原生样式。
    </p>

  {{#prefixIds "grouped"}}
    {{> forms/grouped}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/grouped}}
  {{/code}}


    <h2 class="content-subhead">输入框大小</h2>
    <p>
        文本输入框有类似<a href="{{pages.grids}}">栅格系统</a>一样的自由宽度，可以直接应用 {{code "pure-input-*"}} 格式的类名。
    </p>

  {{#prefixIds "input-size"}}
    {{> forms/input-size}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-size}}
  {{/code}}

    <p>
        此外你还可以将输入框放进栅格中来控制它的大小。下面的例子中，{{code "<input>"}} 元素的类是 {{code "pure-input-1"}}，但是它包含在一个特定宽度的 {{code "<div>"}} 中。
    </p>

  {{#prefixIds "input-grid"}}
    {{> forms/input-grid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/input-grid}}
  {{/code}}


    <h2 class="content-subhead">必填项目</h2>
    <p>
        添加 {{code "required"}} 属性可以将表单设置为必填项目。
    </p>

  {{#prefixIds "invalid"}}
    {{> forms/invalid}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/invalid}}
  {{/code}}


    <h2 class="content-subhead">禁用表单</h2>
    <p>
        添加 {{code "required"}} 属性可以将表单设置为禁用项目。
    </p>

  {{#prefixIds "disabled"}}
    {{> forms/disabled}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/disabled}}
  {{/code}}


    <h2 class="content-subhead">只读表单</h2>
    <p>
        添加 {{code "readonly"}} 属性可以将表单设置为只读。{{code "disabled"}} 和 {{code "readonly"}} 的区别是只读表单仍旧可以聚焦，允许用户选择其中的文字，禁用则不行，禁止了一切交互。
    </p>

  {{#prefixIds "readonly"}}
    {{> forms/readonly}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/readonly}}
  {{/code}}


    <h2 class="content-subhead">圆角输入框</h2>
    <p>
        要让输入框显示为圆角，添加类名 {{code "pure-input-rounded"}} 即可。
    </p>

  {{#prefixIds "rounded"}}
    {{> forms/rounded}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/rounded}}
  {{/code}}


    <h2 class="content-subhead">复选和单选</h2>
    <p>
        要一致化并对齐复选框和单选框的话，给它们添加类名 {{code "pure-checkbox"}} 和 {{code "pure-radio"}}。
    </p>

  {{#prefixIds "checkbox-radio"}}
    {{> forms/checkbox-radio}}
  {{/prefixIds}}

  {{#code}}
    {{> forms/checkbox-radio}}
  {{/code}}
</div>
