{{setTitle     "响应式栅格"}}
{{setSubTitle  "可自由定制的响应式栅格系统"}}
{{setActiveNav "grids"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">Pure 栅格系统原理</h2>
    <p>
        Pure 的栅格系统非常易用。<code>pure-g</code> 表示一行（或一格“grid”），{{code "pure-u-*-*"}} 则是一列（单元，“unit”）。每个 {{code "pure-g"}} 可以包含许多列单元。有各种单元的类可以约束它们的宽度，例如 {{code "pure-u-1-2"}} 的宽度为 50%；而 {{code "pure-u-1-5"}} 的宽度是 20%.
    </p>

    <p>
        Pure 栅格系统唯一的局限是所有的『列单元』都必须是一个栅格的子元素，也就是说，一个类名为 {{code "pure-u-*"}} 的单元必须属于一个 {{code "pure-g"}} 或 {{code "pure-g-r"}} 的子元素才能生效。下面是一个三列栅格的示例：
    </p>

  {{#code}}
    {{> grids/intro}}
  {{/code}}

    <aside>
        <p>
            要了解更多的细节说明，请至 YUI 网站查阅 <a href="http://yuilibrary.com/yui/docs/cssgrids/">CSS Grids documentation</a>。
        </p>
    </aside>


    <h2 class="content-subhead">Pure 栅格如何实现响应式？</h2>
    <p>
        Pure 的响应式设计基于栅格系统实现，增加了一个新的类 {{code "pure-g-r"}}（"r" 表示 responsive，响应式）。你可以用这个类替换掉通常使用的 {{code "pure-g"}}，然后所有它的一级子元素 {{code "pure-g-r"}} 都将是响应式的。
    </p>


    <h2 class="content-subhead">HTML</h2>
    <p>
        下面第一段代码是普通 Pure 栅格，没有响应式效果，无论屏幕多宽它都会保持等宽三列。第二段代码将 {{code "pure-g"}} 改为 {{code "pure-g-r"}}，最终这段代码在小屏幕上会将三分之一宽度的列展开为全宽。
    </p>

    {{#code}}
    {{> grids/compare-nr}}
    {{/code}}

    {{#code}}
    {{> grids/compare-r}}
    {{/code}}

    <h2 class="content-subhead">功能</h2>

    <ul class="content-spaced">
        <li>针对多种屏幕宽度（桌面、横向平板、竖向平板、手机）的媒体请求</li>
        <li>小于指定屏幕宽度的时候将列单元扩展为100%宽度（默认是767px）</li>
        <li>对小屏自动调整图片大小</li>
        <li>列数量不限</li>
        <li>支持自定义类前缀</li>
    </ul>


    <h2 class="l-centered">看看下面的实例！</h2>
    <h3 class="l-centered">缩放本页面就能看到栅格的展开收起效果。</h3>

    {{> grids/four-col}}

    <h2 class="content-subhead">给栅格单元添加 border 和 padding</h2>

    <p>
        有两种方法，第一种是在栅格单元内部嵌套一个 {{code "<div>"}} 然后给它添加样式：
    </p>

    {{#code}}
    {{> grids/padding-nested}}
    {{/code}}

    <p>
        另一种是直接给栅格单元添加样式。直接这么做会破坏布局，不过你可以给每个单元格添加一个 {{code "box-sizing: border-box"}} 属性来避免此问题：
    </p>

    {{#code}}
    {{> grids/padding-box-sizing}}
    {{/code}}

    <p>
        使用 {{code "box-sizing: border-box"}} 可以保持你的代码干净优雅，但是有两个小问题：IE7 及以下的浏览器不支持这个属性，另外给所有的栅格单元都添加这个属性之后会影响后续对其样式进行覆盖或者清除。Pure 尽力不作任何主张，保持了 {{code "box-sizing"}} 的默认值 {{code "content-box"}}，具体怎样使用的决定权由你。
    </p>

    <h2 class="content-subhead">移动设备上的栅格</h2>
    <p>
        在父元素上使用 {{code "pure-g"}} 而非 {{code "pure-g-r"}} 可以保证栅格在任意屏幕上都是一致的效果：
    </p>

    {{> grids/mobile-col}}


      <h2 class="content-subhead">只想用用栅格系统？</h2>
      <p>
          栅格系统是 Pure CSS 的一部分，不过如果你只想要这个部分的话，也可以拿出来单独引用。在 {{code "<head>"}} 包含这段 {{code "<link>"}} 即可：
      </p>

    {{#code}}
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure_version}}/grids-min.css">
    {{/code}}

      <aside>
          <p>
              此外，你可以到 <a href="http://yui.github.io/gridbuilder/">Grid Builder</a> 创建定制化的栅格系统，可以得到一份CSS文件，立等可取！
          </p>
      </aside>
</div>
