{{setTitle     "Pure"}}
{{setSubTitle  "A set of small, responsive CSS modules that you can use in every web project."}}
{{setActiveNav "home"}}

{{addLocalCSS "/css/home.css"}}

<div class="hero">
    <h1 class="pure-u-1">{{title}}</h1>
    <h2 class="pure-u-3-4 l-centered">{{subTitle}}</h2>

    <div class="hero-cta pure-u-3-4">
    {{#code}}
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/{{pure_version}}/pure-min.css">
    {{/code}}

    <p>
        <a class="pure-button pure-button-cta" href="{{pages.customize}}">开始使用</a>
        <a class="pure-button pure-button-secondary" href="https://github.com/yui/pure/">查看源码</a>
    </p>
    </div>
</div>

<div class="marketing-ribbon">
    <div class="size-chart l-vbox pure-g">
        <div class="size-chart-item size-chart-base pure-u" style="width: {{filePercent 'base'}};">
            <a class="size-chart-label" href="{{pages.base}}">
                Base 基础样式 <span class="size-chart-size">{{fileSize "base"}}</span>
            </a>
        </div>
        <div class="size-chart-item size-chart-grids pure-u" style="width: {{filePercent 'grids'}};">
            <a class="size-chart-label" href="{{pages.grids}}">
                Grids 栅格系统 <span class="size-chart-size">{{fileSize "grids"}}</span>
            </a>
        </div>
        <div class="size-chart-item size-chart-forms pure-u" style="width: {{filePercent 'forms'}};">
            <a class="size-chart-label" href="{{pages.forms}}">
                Forms 表单 <span class="size-chart-size">{{fileSize "forms"}}</span>
            </a>
        </div>
        <div class="size-chart-item size-chart-buttons pure-u" style="width: {{filePercent 'buttons'}};">
            <a class="size-chart-label" href="{{pages.buttons}}">
                Buttons 按钮 <span class="size-chart-size">{{fileSize "buttons"}}</span>
            </a>
        </div>
        <div class="size-chart-item size-chart-tables pure-u" style="width: {{filePercent 'tables'}};">
            <a class="size-chart-label" href="{{pages.tables}}">
                Tables 表格 <span class="size-chart-size">{{fileSize "tables"}}</span>
            </a>
        </div>
        <div class="size-chart-item size-chart-menus pure-u" style="width: {{filePercent 'menus'}};">
            <a class="size-chart-label" href="{{pages.menus}}">
                Menus 菜单 <span class="size-chart-size">{{fileSize "menus"}}</span>
            </a>
        </div>
    </div>

    <div class="l-box">
        <h3>极简 CSS</h3>
        <p>
            Pure 的概念就是极简。整个库(所有6部分模块)<b>压缩（minified & gzipped）之后只有{{fileSize "pure"}}*</b>。Pure 从计划之初就着重考虑了移动设备的应用环境，所以我们非常在意文件大小，每行 CSS 都经过精细的考量，如果你只使用部分模块的话，还可以节约更多。
        </p>

        <p style="font-size:small;">
            * 是的没算错 :) 上面彩条中的数字是每个模块独立的体积，放在一起压缩之后总量会更小一些。
        </p>
    </div>
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>你的 CSS 基础库</h3>
            <p>
                Pure 基于 <a href="http://necolas.github.io/normalize.css/">Normalize.css</a> 并且提供常用的HTML基础元素样式。满足需求，简单干净。
            </p>
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>注重移动设备</h3>
            <p>
                Pure 采用响应式设计，在任何屏幕上都有完美效果。你可以在 <a href="http://yui.github.io/skinbuilder/?mode=pure">Skin Builder</a> 中定制 Pure 的样式。
            </p>
        </div>
    </div>

    <div class="pure-u-1-3">
        <div class="l-box">
            <h3>让你的开发之路更自主、简单</h3>
            <p>
                Pure 只定义了最小化的基础样式，鼓励你基于此创造自己独特的界面风格。它的设计宗旨就是让你的开发更自主，并且能轻松重写任何内容。
            </p>
        </div>
    </div>
</div>


<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
        <div class="l-box">
            <a href="{{pages.layouts}}">
                <img src="img/layout-icon.jpg" alt="Diagram of a sample layout.">
            </a>
        </div>
    </div>

    <div class="pure-u-1-2">
        <div class="l-hbox">
            <h3>创建响应式布局</h3>
            <p>
                使用 <a href="{{pages.grids}}">Grids（栅格）</a> 和 <a href="{{pages.menus}}">Menus（菜单）</a> 以及其他一些元素，可以方便地为各种屏幕大小创造响应式布局。这里有一些<a href="{{pages.layouts}}">布局示例</a>，动手开工吧！
            </p>

            <p>
                <a href="{{pages.layouts}}" class="pure-button">查看布局示例</a>
            </p>
        </div>
    </div>
</div>

<div class="pure-g-r marketing-ribbon">
    <div class="pure-u-1-2">
        <div class="l-hbox">
            <h3>定制 Pure 的外观和体验</h3>
            <p>
                不同于其他的界面库，Pure 的设计极力谦恭，最小化、扁平化。我们相信添加样式比重写要更简单，稍作定制，你就可以将它完全融入到自己独一无二的设计风格中。
            </p>

            <p>
                <a href="{{pages.extend}}" class="pure-button">扩展 Pure</a>
            </p>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="l-box sample-buttons">
            <p>
                <button class="pure-button">Grey</button>
                <button class="pure-button pure-button-a">Blue</button>
                <button class="pure-button pure-button-b">Yellow</button>
            </p>
            <p>
                <button class="pure-button pure-button-c">Black</button>
                <button class="pure-button pure-button-d">Green</button>
                <button class="pure-button pure-button-e">Red</button>
            </p>
            <p>
                <button class="pure-button pure-button-f">Purple</button>
                <button class="pure-button pure-button-g">Orange</button>
                <button class="pure-button pure-button-h">Indigo</button>
            </p>
        </div>
    </div>
</div>
