{{setTitle     "布局示例"}}
{{setSubTitle  "马上开始你的 Web 项目"}}
{{setActiveNav "layouts"}}

{{addLocalCSS "/css/layouts.css"}}

{{> header}}

<div class="content">
    <h2 class="content-subhead">常见布局</h2>
    <p>
        Pure 的目标是能适应任何 Web 项目。下面是一些应用 Pure 的常见布局，完全响应式而没有使用任何 Javascrit。
    </p>

    <aside>
        <p>
            查看布局的时候，修改源代码实时观察效果，可以更有助于理解它的原理。
        </p>
    </aside>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsMarketing}}">
                <img src="/img/layouts/marketing@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of Landing Page example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">入口页</h3>

                <p>
                    此布局展示了一个响应式的产品入口页，使用 <a href="{{pages.grids}}">栅格</a> 和 <a href="{{pages.menus}}">菜单</a>两个模块。
                </p>

                <p><a href="{{pages.layoutsMarketing}}" class="pure-button">查看布局</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsGallery}}">
                <img src="/img/layouts/gallery@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of Photo Gallery example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">相册</h3>

                <p>
                    此布局展示了一个响应式的照片相册。使用<a href="{{pages.grids}}">栅格</a>、<a href="{{pages.menus}}">菜单</a>和<a href="{{pages.forms}}">表单</a>模块。
                </p>

                <p><a href="{{pages.layoutsGallery}}" class="pure-button">查看布局</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsEmail}}">
                <img src="/img/layouts/email@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of an example Email app layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">邮件</h3>

                <p>
                    此布局展示了一个响应式的邮件模板。使用<a href="{{pages.grids}}">栅格</a>和<a href="{{pages.forms}}">表单</a>模块。
                </p>

                <p><a href="{{pages.layoutsEmail}}" class="pure-button">查看布局</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsBlog}}">
                <img src="/img/layouts/blog@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of a blog example layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">博客</h3>

                <p>
                    此布局展示了一个响应式的博客页面。使用<a href="{{pages.grids}}">栅格</a>、<a href="{{pages.menus}}">菜单</a>和<a href="{{pages.forms}}">按钮</a>模块。
                </p>

                <p><a href="{{pages.layoutsBlog}}" class="pure-button">查看布局</a></p>
            </div>
        </div>
    </div>


    <div class="layout-item pure-g-r">
        <div class="pure-u-1-2">
            <a href="{{pages.layoutsPricing}}">
                <img src="/img/layouts/pricing@2x.jpg" class="bordered" width="400" height="214"
                     alt="Screenshot of a pricing table layout.">
            </a>
        </div>

        <div class="pure-u-1-2">
            <div class="l-hbox">
                <h3 class="layout-item-head">价目表</h3>

                <p>
                    此布局展示了一个响应式的价目表。使用<a href="{{pages.grids}}">栅格</a>、<a href="{{pages.menus}}">菜单</a>和<a href="{{pages.forms}}">表单</a>模块。
                </p>

                <p><a href="{{pages.layoutsPricing}}" class="pure-button">查看布局</a></p>
            </div>
        </div>
    </div>
</div>
