{{setTitle     "菜单"}}
{{setSubTitle  "菜单样式"}}
{{setActiveNav "menus"}}

{{addLocalCSS "/css/menus.css"}}

{{> header}}

<!-- adding to the top so that the dropdown example code can run -->
<script>
    {{{state}}}
</script>

<script src="http://yui.yahooapis.com/{{yui_version}}/build/yui/yui{{min}}.js"></script>
{{> prevent-scroll}}

<div class="content">

    <h2 class="content-subhead">水平菜单</h2>
    <p>
        使用 {{code "pure-menu-horizontal"}} 类名创建一个水平菜单，在菜单项目上添加 {{code "pure-menu-selected"}} 可以标记当前菜单为选中高亮状态。
    </p>

    {{> menus/horizontal}}

  {{#code}}
    {{> menus/horizontal}}
  {{/code}}


    <h2 class="content-subhead">菜单标题</h2>
    <p>
        要给菜单增加一个大标题，只要将内容放在 {{code "<ul>"}} 元素外，用 一个带有 {{code "pure-menu-heading"}} 类的 {{code "<a>"}} 包含即可。
    </p>

    {{> menus/heading}}

  {{#code}}
    {{> menus/heading}}
  {{/code}}


    <h2 class="content-subhead">垂直菜单</h2>
    <p>
        菜单默认是垂直样式的，你只需添加 {{code "pure-menu"}} 类，以及 {{code "pure-menu-open"}} 来确保菜单显示出来。
    </p>

    {{> menus/vertical}}

  {{#code}}
    {{> menus/vertical}}
  {{/code}}


    <h2 class="content-subhead">下拉菜单</h2>
    <p>
        下拉菜单需要用到 JavaScript，如 YUI 的 {{code "Y.Menu"}} 模块就很方便。
    </p>

    {{> menus/dropdown}}

  {{#code}}
    {{> menus/dropdown}}
  {{/code}}


    <h2 class="content-subhead">菜单中的禁用项目</h2>
    <p>
        要将一个菜单项标记为禁用，增加一个带有 {{code "pure-menu-disabled"}} 类的 {{code "<a>"}} 元素即可。禁用的菜单项颜色稍暗淡，也没有鼠标指向的高亮效果。
    </p>

    {{> menus/disabled}}

  {{#code}}
    {{> menus/disabled}}
  {{/code}}


    <h2 class="content-subhead">分页</h2>
    <p>
        在 {{code "<ul>"}} 上添加 {{code "pure-paginator"}} 类可以创建一个分页栏。要让分页链接看上去是按钮样式的话，就再添加一个 {{code "pure-button"}} 类名。
    </p>

    {{> menus/paginator}}

  {{#code}}
    {{> menus/paginator}}
  {{/code}}

</div>
