{{setTitle     "表格"}}
{{setSubTitle  "HTML 表格样式"}}
{{setActiveNav "tables"}}

{{> header}}

<div class="content">

    <h2 class="content-subhead">基础表格</h2>
    <p>
        使用类 {{code "pure-table"}} 可以给表格添加边框和补白，以及标题格子的背景色。
    </p>

    {{> tables/default}}

  {{#code}}
    {{> tables/default}}
  {{/code}}


    <h2 class="content-subhead">全框表格</h2>
    <p>
        要给所有单元格都添加边框的话，只需在 {{code "<table>"}} 元素上添加 {{code "pure-table-bordered"}} 类。
    </p>

    {{> tables/bordered}}

  {{#code}}
    {{> tables/bordered}}
  {{/code}}


    <h2 class="content-subhead">横线表格</h2>
    <p>
        如果你只想要横向的间隔线，就在 {{code "<table>"}} 元素上添加 {{code "pure-table-horizontal"}} 类。
    </p>

    {{> tables/horizontal}}

  {{#code}}
    {{> tables/horizontal}}
  {{/code}}


    <h2 class="content-subhead">斑马线表格</h2>
    <p>
        较大的表格加上斑马线效果的话会易读很多。每隔一个 {{code "<tr>"}} 添加一个 {{code "pure-table-odd"}} 类以改变背景色，即可得到斑马线底纹。
    </p>

    <p>
        <b>注意：</b> 在支持 CSS3 <a href="http://caniuse.com/#search=nth-child">{{code "nth-child"}} 选择符</a> 的浏览器上可以用一个更简单的办法，只要在 {{code "<table>"}} 元素上添加 {{code "pure-table-striped"}} 类名即可。这个方法<em>不</em>适用 Internet Explorer 8 及以下版本浏览器。
    </p>

    {{> tables/striped}}

  {{#code}}
    {{> tables/striped}}
  {{/code}}
</div>
